:root {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
body {
    margin: 5px;
    padding: 0;
    box-sizing: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 71vh 10vh;
    grid-gap: 8px;
    grid-template-areas: 
                        "header" 
                        "section"   
                        "main";
}   
header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000029;
    color: #d5b73d;
}
.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: auto;
    padding: 2px;
    justify-content: center;
    font-size: 1rem;
}
.topDown {
    width: 100%;
    display: flex;
    margin-right: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p {
    margin-top: 10px;
}
section {
    grid-area: section;
    background-color: #fff;
    box-shadow: 0px 5px 10px #00000029;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.containerHome {
    width: auto;
    display: grid;
    gap: 10px;
    justify-content: center;
    align-items: center;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas: "card1" 
                         "card2"
                         "card3" 
                         "card4";
}
#card1 {
    display: flex;
    grid-area: card1;
}
#card2 {
    display: flex;
    grid-area: card2;
}
#card3 {
    display: flex;
    grid-area: card3;
}
#card4 {
    display: flex;
    grid-area: card4;
}
.informativo {
    font-size: .9rem;
    letter-spacing: 0;
    padding: 3px;
}
main {
    grid-area: main;
    display: flex;
    margin: 0;
    flex-direction: row;
    gap: 5px;
}
#item1, #item2, #item3, #item4 {
    background-color: #000029;
    box-shadow: 0px 10px 10px #000029;
    height: auto;
    width: 90%;
    border: 1px solid #d5b73d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0;
    text-decoration: none;
    color: #d5b73d;
    border-radius: 10px;
}
.cardLink {
    border: 3px solid transparent;
}
.cardLink:hover {
    border: 3px solid #000029;
}
#userName {
    line-height: 0;
}
/* aba item */
.progresso {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    font-weight: 700;
    background-color: #fff;
    line-height: 1;
}
.topProduto {
    display: flex;
    line-height: 2;
    flex-direction: row;
    padding: 0 20px 0 20px;
    margin: 10px;
    border-radius: 20px;
    justify-content: space-between;
    background-color: #E8F1FA;
}
.produtos {
    overflow: auto;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
    background: transparent linear-gradient(556deg, #E8F1FA 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
}
.produto {
    display: flex;
    flex-direction: column;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 5px #d5b73d;
    border-radius: 20px;
    opacity: 1;
    line-height: 3;
    margin-top: 15px;
    padding: 10px;
}
.quantidade {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 0 10px;
    margin: 0 0 0 5px;
}
/* ============= */

/* Avisos */
.avisos {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    border-radius: 20px;
    padding: 0px 5px 20px 5px;
    background: transparent linear-gradient(336deg, #FFFFFF 100%) 0% 0% no-repeat padding-box;
}
.aviso {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 8px 10px 0 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 10px #d5b73d;
    border-radius: 20px;
    opacity: 1;
    justify-content: space-between;
}
.topAviso {
    display: flex;
    flex-direction: row;
    background-color: #E8F1FA;
    height: 5vh;
    border-radius:  20px 20px 0 0px;
    width: 100%;
    letter-spacing: 2px;
}
.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}
.people {
    display: flex;
    align-items: end;
    width: 50%;
}
.data, .hora {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    font-size: .8rem;
}
.anuncio {
    display: flex;
    margin-top: 20px;
    overflow: auto;
    margin: 5px;
}
/* ============= */
/* Sala */
.containerSala {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}
.addUser, .addEvent {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
    margin: 5px;
    box-shadow: 0 5px 5px #d5b73d;
    padding-bottom: 10px;
    border-radius: 10px;
    font-size: 3rem;
    color: #000029;
    font-weight: 700;
    cursor: pointer;
}
p {
    font-size: 1rem;
}
.inserts {
    display: flex;
    justify-content: center;
    align-items: center;
}
#insertUser, #insertEvent {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    justify-content: center;
}
#insertion, #insertionTT {
    color: #000029;
    padding: 5px;
    background: #fff 0% 0% no-repeat padding-box;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    opacity: 1;
    width: 100%;
}
#insertion::-webkit-scrollbar {
    width: 8px;
    background-color: #fff;
}
#insertion::-webkit-scrollbar-button {
    display: flex;
}
#insertion::-webkit-scrollbar-thumb {
    background-color: #000029;
    border-radius: 20px;
    
}
.tableUser {
    margin: 0 -3px 30px -3px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: -1px -1px 5px #000029;
    border-radius: 10px;
    padding: 10px;
    color: #000029;
    font-weight: 600;
    text-align: start;
}
.containerList {
    display: flex;
    flex-direction: column;
    box-shadow: -1px -1px 5px #000029;
    border-radius: 10px;
    margin: 10px 0 20px 0;
    height: auto;
    font-weight: 500;
}
.cardList {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
    line-height: 1;
    border-bottom: 2px solid #00000029;  
}
.listLeft, .listRigth {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    width: 40%;
    height: 100%;
    padding: 5px;
    font-weight: 700;
    font-size: 1em;      
} 
.listRigth {
    width: 60%;
    font-weight: 500;
}
.actionsList {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0 5px 0;
    cursor: pointer;
}
input, textarea {
    border: none;
    outline: invert;
    box-shadow: 0 1px 4px #000029;
    border-radius: 3px;
    margin-top: -2px;
}
.unicaLeft, .unicaRigth {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    font-weight: 500;
    font-size: 1em;
    padding: 0 5px 5px 5px;
    text-align: center;
}
.unicaLeft {
    justify-content: center;
    font-weight: 700;
}
textarea, .listLeftDescription {
    min-height: 10vh;
    justify-content: flex-start;
}
.description {
    height: 100%;
    overflow: auto;
    padding: auto 10px 5px 10px;
}
.description::-webkit-scrollbar {
    width: 8px;
    background-color: #fff;
}
.description::-webkit-scrollbar-button {
    display: flex;
}
.description::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #000029;
}
.descriptionLeft {
    padding: 0;
}
footer {
    display: none;
}
#exit {
    color: #d5b73d;
    cursor: pointer;
    font-size: .8em;
}
@media(min-width: 769px) {
    body {
        margin: 0;
        padding: 0;
        box-sizing: 0;
        height: 100vh;
        background-color: #E8F1FA;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: auto auto auto auto 5vh;
        grid-gap: 5px;
        grid-template-areas:
                            "header header header" 
                            "section section main"
                            "section section main" 
                            "section section main"
                            "footer footer footer"
    }
    footer {
        grid-area: footer;
        background-color: #000029;
        display: flex;
        color: #d5b73d;
        justify-content: center;
        align-items: center;
    }
    section {
        border-radius: 20px;
        padding: 0px 20px 0px 20px;
        margin: 10px 20px 10px 20px;
        overflow: auto;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    section::-webkit-scrollbar {
        width: 8px;
    }
    section::-webkit-scrollbar-button {
        display: flex;
    }
    section::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #000029;
    }
    main {
        grid-area: main;
        display: flex;
        flex-direction: column;
        background-color: #000029;
        justify-content: center;
        margin: 10px;
        align-items: center;
        border-radius: 10px;
    }
    .topProduto {
        padding: 0 20px 0 25px;
        background-color: #fff;
    }
    .produtos {
        overflow: auto;
        height: 100%;
        padding: 10px;
    }
    .produtos::-webkit-scrollbar {
        width: 8px;
        background-color: #fff;
    }
    .produtos::-webkit-scrollbar-button {
        display: flex;
    }
    .produtos::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #000029;
    }
    .produto {
        padding: 10px;
    }
    #item1, #item2, #item3, #item4 {
        width: 90%;
        height: 100%;
        margin: 10px;
        border: 2px solid #fff;
        box-shadow: 0 1px 10px #d5b73d;
    }
    .avisos {
        display: flex;
        flex-direction: column;
        overflow: auto;
        height: 100%;
        border-radius: 20px;
        gap: 20px;
        padding-bottom: 20px;
        background: transparent linear-gradient(336deg, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    }
    .avisos::-webkit-scrollbar {
        width: 8px;
        background-color: #fff;
    }
    .avisos::-webkit-scrollbar-button {
        display: flex;
    }
    .avisos::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #000029;
    }
    .containerHome {
        display: grid;
        gap: 10px;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "card1 card2"
                             "card3 card4";
    }
    #card1 {
        display: flex;
        grid-area: card1;
    }
    #card2 {
        display: flex;
        grid-area: card2;
    }
    #card3 {
        display: flex;
        grid-area: card3;
    }
    #card4 {
        display: flex;
        grid-area: card4;
    }
    .containerList {
        display: flex;
        flex-direction: column;
        box-shadow: -1px -1px 5px #000029;
        border-radius: 10px;
        margin: 30px -10px 0 -10px;
        height: auto;
    }
    .cardList {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        padding: 1px;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid #00000029;
    }
    .listLeft, .listRigth {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: start;
        width: 30%;
        margin: 10px 0 1px 0;
        font-weight: 500;
        line-height: 1;
        font-size: 1.2em;
        height: auto;   
    } 
    .listRigth {
        height: auto;
        width: 60%;
        font-weight: 400;
    }
    .actionsList {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0 40px 0 40px;
        border-top: none;
    }
    .description {
        display: flex;
        min-height: 1vh;
        overflow: auto;
        padding: 10px;
        border-bottom: 2px solid transparent;
    }
    .description::-webkit-scrollbar {
        width: 8px;
        background-color: #fff;
    }
    .description::-webkit-scrollbar-button {
        display: flex;
    }
    .description::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #000029;
    }
    .unica {
        display: flex;
        flex-direction: row;
        height: 100%;
        padding: 0px 20px 0 20px;
        width: 95%;
    }
    .unicaLeft, .unicaRigth {
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: start;
        height: auto;
        font-weight: 500;
        line-height: 1;
        font-size: 1.2em;
        padding: 0 5px 5px 5px;
    }
    .unicaRigth {
        display: flex;
        justify-content: flex-start;
        width: 70%;
        font-weight: 400;
        padding-left: 28px;
    }
    input, textarea {
        border: none;
        box-shadow: 0px -1px 2px #000029;
        outline: none;
        border-radius: 3px;
        margin-top: -8px;
    }
    textarea, .listLeftDescription {
        min-height: 10vh;
    }
    #insertion, #insertionTT {
        padding: 15px;
    }
    .tableUser {
        margin: 0 -10px 30px -10px;
        padding: 15px 5px 5px 0;
    }
}